.nav {
    font-size: 14px;
}

.dropdown-menu {
    font-size: 12px;
}

.dropdown-menu li {
    padding: 0px 8px;
}

.dropdown-menu li a {
    padding: 10px;
}

.dropdown-item i {
    font-size: 12px;
}

footer {
    font-size: 14px;
}

.avatar {
    border-radius: 64px;
    margin-top: 30px;
}

.about-long a {
    text-decoration: none;
}

.i-info-item{
    margin-top: 20px;
    margin-bottom: 5px;
}

.i-info-item-title{
    padding: 3px 15px;
    background-color: #dee2e6;
    font-size: 16px;
}

.i-info-item img{
    margin: 10px 0;
    width: 100%;
}

.i-info-item a{
    color: #000;
}

.card-me a{
    text-decoration: none;
}