<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="/assets/images/header-logo.png" alt="" height="32">
        </a>

        <ul class="nav nav-pills">
            <li><a href="/" class="nav-link link-body-emphasis">首页</a></li>
            <li><a href="/photo.html" class="nav-link link-body-emphasis">照片</a></li>
            <li><a href="/video.html" class="nav-link link-body-emphasis">视频</a></li>
            <li><a href="/about.html" class="nav-link link-body-emphasis">关于</a></li>
        </ul>
    </header>
</div>