<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/en/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="/assets/images/header-logo-en.png" alt="" height="32">
        </a>
        <ul class="nav nav-pills">
            <li><a href="/en/" class="nav-link link-body-emphasis">Home</a></li>
            <li><a href="https://youtube.com/@ialong" target="_blank" class="nav-link link-body-emphasis">Video</a></li>
            <li><a href="/en/about.html" class="nav-link link-body-emphasis">About</a></li>
            <li>
                <a href="#" class="nav-link link-body-emphasis dropdown-toggle" data-bs-toggle="dropdown">Language</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/en/">English</a></li>
                    <li><a class="dropdown-item" href="/">简体中文</a></li>
                </ul>
            </li>
        </ul>
    </header>
</div>